.sidebar-left {
  position: fixed;
  padding: 0.5rem;
  left: 0.5rem;
  top: 10rem;
  border: 2px solid #494947;
  border-radius: 2px;
}

.sidebar-left hr {
  height: 1px;
  background-color: #494947;
  margin: 5px 0;
}

.filter-checkbox-container > h3 {
  text-align: center;
}

.filter-checkbox-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.filter-checkbox-container > ul > li {
  display: flex;
  align-items: center;
}
.filter-checkbox-color {
  width: 30px;
  margin: 10px;
}

.filter-checkbox {
  scale: 2;
  margin: 10px;
}
