* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #81f499;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid #494947;
  text-align: center;
}

.back-to-top:hover {
  background-color: #00a7e1;
}
